@()
<div class="navbar navbar-inverse " id="navigation">
    <div class="navbar-inner">
        <div class="container">

            <ul class="nav nav-tabs">
                <li role="presentation"><a href="@routes.ProductsController.index()">Products Catalog</a></li>
                <li role="presentation"><a href="@routes.ProductsController.index()">Home</a></li>
                <li role="presentation"><a href="@routes.ProductsController.list()">Products</a></li>
                <li role="presentation"><a href="">Contact</a></li>
                <li role="presentation" style="float:right">
                    <a class="btn" href="@routes.ApplicationController.logout()">Logout</a></li>
            </ul></div>
    </div>
</div>
